<div class="page-title">
  <h4>代码托管</h4>
  <a class="pull-right help-link">
    <i class="anticon anticon-question-circle-o"></i>代码托管使用指南
  </a>
</div>
<div style="margin-left: 100px" xmlns="">
  <div class="content-subtitle">代码托管为软件开发者提供基于GitLab的在线代码托管服务<br>
    包括代码克隆/下载/提交/推送/比较/合并/分支/Code <br>
    Review等功能
  </div>
  <div style="margin-left: 80px;margin-top: -20px">
    <button class="button" onclick="window.open('https://gitlab.inspurcloud.cn')">进入服务</button>
    <!--<iframe src="https://www.baidu.com" width="300px" height="100px" scrolling="no" frameborder="2px"  hspace="800" vspace="-150"></iframe>-->
    <img class="img-container" src="assets/images/managedcode.png">
  </div>
</div>
<div><img class="img-container-bottom" src="assets/images/bg-managedcode.png"></div>




