<div class="home-container">
  <div nz-row>
    <div nz-col [nzSpan]="9">
      <div class="content-wrap">
        <div class="content-title">浪潮云，无处不在的计算</div>
        <div class="content-desc-big">浪潮云面向用户提供一站式的PaaS平台服务，包含基于容器的应用软件开发和运行时所需的支撑环境，
          以及应用支撑、软件开发、数据库、大数据和物联网等云化服务</div>
        <div class="content-desc">
          <span class="desc-title">应用服务</span>
          面向应用（尤其是云原生应用）提供基于容器的自动化部署、运行、运维，以及微服务引擎和服务治理能力
        </div>
        <div class="content-desc">
          <span class="desc-title">软件开发服务</span>
          提供涵盖“开发->测试->发布->运维->运营”的一站式DevOps服务，随时随地在云端实现代码托管、代码质控、流水线管理、代码编译、镜像构建、应用部署、测试和发布
        </div>
        <div class="content-desc">
          <span class="desc-title">数据库服务</span>
          提供稳定可靠、高效易用、资源弹性可伸缩的云数据库服务，支持MySQL、MongoDB、Redis、TSDB等多种数据库引擎
        </div>
        <!--<div class="content-desc">
          <span class="desc-title">大数据服务</span>
          基于Hadoop技术体系，面向海量数据场景提供数据集成、存储、计算、分析挖掘和展现等全套大数据解决方案
        </div>-->
        <div class="content-desc">
          <span class="desc-title">物联网服务</span>
          提供一站式的智能物联网支撑，实现终端与云端的双向数据通道、设备远程管理、数据采集、解析和计算等关键能力，助力智能物联网应用创新
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="1">
    </div>
    <div nz-col [nzSpan]="13">
      <div class="img-container">
        <img src="assets/images/banner.png">
      </div>
    </div>
  </div>
</div>

