:host ::ng-deep .ant-radio-button-wrapper {
  margin-right: 2px;
  min-width: 80px;
  color: #38b2e3;
  background-color: #e9f6fe;
  border: none;
  font-weight: 300;
  text-align: center;
}

:host ::ng-deep .ant-radio-button-wrapper:not(:first-child)::before {
  background: none;
}

:host ::ng-deep .ant-radio-button-wrapper-checked::before {
  background-color: #fff !important;
}

:host ::ng-deep .ant-radio-button-wrapper-checked {
  background-color: #36b3df;
  color: #fff;
  -webkit-box-shadow: -1px 0 0 0 #fff;
  box-shadow: -1px 0 0 0 #fff
}
